/Assignments/A04/mapboxToken.txt
/Assignments/A04/Data/*
/Assignmnets/A04/A04/Data/US_State_Bounding_Boxes.csv
/Assignments/A04/Data.rar
/Assignments/A05/Railroads/*.geojson
/Assignments/A05/Primary_Roads/*.geojson

/Assignments/A05/Data/*.geojson
/Assignments/A05/Data/*.json
/Assignments/A05/Data/*/*.geojson
/Assignments/A05/Data/*/*.json
/Assignments/A05/Data/10m_data/citiesNroads.geojson
/Assignments/A05/Data/10m_data/cities.geojson
/Assignments/A05/Data/10m_data/roads.geojson
/Assignments/A05/Data/10m_data/roads/*