/Assignments/A04/mapboxToken.txt
/Assignments/A04/Data/*
/Assignmnets/A04/A04/Data/US_State_Bounding_Boxes.csv
/Assignments/A04/Data.rar
/Assignments/A05/roads.geojson
/Assignments/A05/roads.zip
/Assignments/A05/*.geojson
/Assignments/A05/*.zip
/Assignments/A05/*.geojson.zip

